@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>

    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.20.js"></script>
    <script src="~/Js/test.js"></script>
</head>
<body>
    <form>
   
    <div>
        
        <input type="text" />
    </div>
  <div>
     

      <input type="submit" id="nav" onclick="return getCount(this.value)" value="test" />
      <input type="submit" id="summa" onclick="return getCount(this.value)" value="display" />
      <input type="button" id="test"  value="just" onclick="return getCount(this.value)"/>
      <input type="button" id="link" onclick="show()" />
  </div>
        </form>
    <script>
        var countvalue = [];
        var starttime = "";
        var endtime = "";
        $(document).ready(function () {
             starttime = new Date();
            //starttime = date.getTime();
            
        });
        function show() {
            debugger;
            endtime = new Date();
            var length = countvalue.length;
            var count;
            for (var i = 0; i < length; i++) {
                count = count + "--" + countvalue[i];
            }

            var nTotalhours = starttime - endtime;
            var nTotalDiff = endtime.getTime() - starttime.getTime();
            var one_day = 1000 * 60 * 60 * 24;
            all_days = Math.floor(nTotalDiff / one_day);
            count = count + "-- Time Difference" + oDiff;
        }
        function getCount(val) {
            
            for (var i = 0; i == i; i++) {
                if (countvalue[i] == undefined) {
                    countvalue[i] = val + "~" + 1;
                    break;
                }
                else {
                    var str = countvalue[i];
                    var res = str.split("~");
                    if (res[0] == val) {
                        countvalue[i] = val + "~" + (parseInt(res[1]) + 1);
                        break;
                    }
                }
            }
            return false;
        }
                   
        
    </script>
</body>
</html>
